

/****************************/
/* HEADER */
/****************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2fdf0; 

    /* BECAUSE WE WANT HEADER TO BE STICKY */
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;

}

.logo{
    height: 2.2rem;
}

/****************************/
/* NAVIGATION */
/****************************/

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem;


}

.main-nav-link:link,
.main-nav-link:visited{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #0b9d58;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #0b9d58;
}

.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
    
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
}

/* STICKY NAVIGATION */
.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.97);
    padding-top: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
    padding-bottom: 0;
    z-index: 999;
}

.sticky .section-hero{
    margin-top: 9.6rem;

}
/****************************/
/* HERO SECTION */
/****************************/
.section-hero{
    background-color: #e2fdf0;
    padding: 4.8rem 0 9.6rem 0;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img{
    width: 100%;
}


.delivered-meals{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 8rem;

}

.delivered-imgs{
    display: flex;
    align-items: center;
    
}

.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #e2fdf0;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 3.2rem;
}

.delivered-text span{
    color: #0b9d58;
    font-weight: 700;
    
}

/****************************/
/* FEATURED IN SECTION */
/****************************/
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos{
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;

}

/****************************/
/* HOW IT WORKS SECTION */
/****************************/

.section-how{
    padding: 9.6rem 0;

}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ccc;
    margin-bottom: 1.2rem;
}

.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-image-box{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.step-image-box:before,
.step-image-box:after{
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.step-image-box:before{
    width: 60%;
    /* height: 60%; */
    
    /* 60% of Parent's Width */
    padding-bottom: 60%;
    background-color: #e2fdf0;
    z-index: -2;
}

.step-image-box:after{
    width: 45%;
    padding-bottom: 45%;
    background-color: #cffce6;
    z-index: -1;
    
}

.step-img{
    width: 40%;
    height: 300px;
    border-radius: 9px;

}

/****************************/
/* MEALS SECTION */
/****************************/
.section-events{
    padding: 9.6rem 0;
}

.events{
    margin-top: 3.2rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.04);
    border-radius: 1.2rem;
    overflow: hidden;
    transition: all 0.4s;
}


.events:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0 2.4rem 6.4rem rgba(0,0,0,0.06);

}

.events-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.events-tags{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.5rem;

}

.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--events{
    background-color: #ffd43b;

}



.events-title{
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.events-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.events-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.events-img{
    width: 100%;

}

.events-img-border{
    width: 100%;
    border: 4px solid #333;

}

.events-icon{
    height: 2.4rem;
    width: 2.4rem;
    color: #0b9d58;
}



.all-resources{
    text-align: center;
    font-size: 1.8rem;
    
}

.link:link,
.link:visited{
    display: inline-block;
    padding-bottom: 2px;
    color: #0b9d58;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    transition: all 0.3s;
}

.link:hover,
.link:active{
    color: #098148;
    border-bottom: 1px solid transparent;
}


/****************************/
/* CTA SECTION */
/****************************/
.section-cta{
    padding: 4.8rem 0 12.8rem;
}

.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.015);
    border-radius: 11px;

    background-image: linear-gradient(to right bottom, #eb984e ,#e67e22);
    overflow: hidden;

    /* temp */
    /* height: 50rem; */

}

.cta-text-box{
    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta .heading-secondary{
    color: #2e1907;
    margin-bottom: 3.2rem;
}

.cta-img-box{
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url('../img/eating.jpg');
    background-size: cover;
    background-position: center;
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    color: inherit;
    font-family: inherit;

    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10)

}

.cta-form input::placeholder{
    color: #aaa; 
}


.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

/****************************/
/* CTA SECTION */
/****************************/
.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #eee
}

.grid-footer{
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col{
    display: flex;
    flex-direction: column;
}

.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-logo{
    display: block;
    margin-bottom: 3.2rem;

}

.social-links{
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon{
    height: 2.4rem;
    width: 2.4rem;
}

.copywright{
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6;
    margin-top: auto;
}

.contacts{
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.6;
}

.address{
    margin-bottom: 2.4rem;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
    font-size: 1.6rem;
    color: #767676;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active{
    color: #555;
}

